body {
  padding: 0px;
  margin: 0px;

}

.main-body {
  height: 100vh;
  width: 100%;
  background-image: url(img/main-bg.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content:space-between;
  flex-flow: column;
  align-items: center;
}

.header-big{
  display: none;
}

.header-small{
  width: 100%;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.hamburger{
  width:50px;
  height: 50px;
  border-color: white;
  border-width: medium;
  border-style: solid;
  border-radius: 100%;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 30px;
  position: relative;
}

.burger{
  position: absolute;
  top: 10px;
  left: 12px;
}
.social{
  width: 100px;
  display: flex;
  flex-flow: row;
  justify-content: space-around;
  padding-right: 20px;
  margin-top: 20px;
}

.icon-con{
  height: 20px;
  width: 20px;
}

.fa{
  color: white;
  height: 10px;
  width: 10px;
}

.title{
  width:200px;
  text-align: center;
  font-family: Oswald;
  color: white;
  display: flex;
  align-items: center;
  flex-flow: column;

}

.name{
  margin:-130px;
}

.portfolio{
  margin: -30px;
}

.button{
  width: 50px;
  height: 50px;
  background-color: white;
  border-radius: 100%;
  position: relative;
  margin-bottom: 30px;
}

.arrow{
  color:grey;
  position: absolute;
  top: 18px;
  left: 20px;
}

@media (min-width:601px) {
  .header-big{
    width: 100%;
    display: flex;
    justify-content: space-around;
    padding-top: 10px;
    font-family: oswald;
    font-size: 30px;
    color: white;
  }
  .header-small{
    display: none;

  }
}
